.img-fluid{
    display: flex;
}

body{
    background-image: url(jakehdFIXBGT.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h5{
    color: white;
}