{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
    <h1>Log In!</h1>
    {% if form.errors %}
    <p> Username/password not match!</p>
    {% endif %}

    {% if next %}
    <p> Can't Access! </p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <p> Username: {{ form.username }}</p>
        <p> Password: {{ form.password }}</p>

        <p><input class="login" type="submit" value="login"></p>

        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <!-- <p>If you're not signed in:</p>
    <a class="btn btn-warning" href="/user/register/" role="button">Sign Up</a> -->

{% endblock content %}