{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
    <h1>Sign Up!</h1>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p> Error!</p>
        {% endif %}

        {{ form }}

        <p><input class="register" type="submit" value="Register"></p>
    </form>
{% endblock content %}