<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'story9/books.css' %}"/>
    <title>Della's Library</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                    <div class="card text-white bg-dark mb-3 mt-5 sticky-top">
                            <div class="card-body">
                              <h3 class="card-title">What Book Do You Want To Search?</h3>
                              <form id="myform">
                                <input class="form-control form-control-lg card-title" type="search" id="books" placeholder="Search books">
                              </form>
                              <p class="card-text"><small class="text-muted">Reading is great ;)</small></p>
                            </div>
                          </div>
                          
                          <div class="card text-white bg-dark mb-3 mt-5">
                            <div class="card-body">
                              <h3 class="card-title">See most loved books!</h3>
                              <button type="button" id="modalButton" class="book-like-button" data-toggle="modal" data-target="#topBookModal" onclick="loadTopBook()">
                                Top 5 </button>
                            </div>
                          </div> 

                          <div class="card text-white bg-dark mb-3 mt-5">
                            <div class="card-body">
                              <h3 class="card-title">Books you loved!</h3>
                              <div id="mylovedbooks">

                              </div>
                            </div>
                          </div> 

                          <a class="btn btn-light" href="/" role="button">Back</a>
            </div>
            <div class="col-6">
                <div id="result">

                </div>
        </div>
    </div>
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="{% static 'story9/books.js' %}"></script>
</body>
</html>