.container{
    padding-top: 15px;
  }
  
    .jumbotron{
      background: url(bglight.jpg) center no-repeat;
      background-size: cover;
    }
  
    .d-flex{
      display: flex!important;
    }
  
    body{
      background: url(terang.jpg) fixed center;
      background-size: cover;
    }

    .switch {
        position: relative;
        margin-left: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked+.slider {
      background-color:black;
    }
    
    input:focus+.slider {
      box-shadow: 0 0 1px white;
    }
    
    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    
    /* Rounded sliders */
    
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    
    h2, p{
        color:black;
        }
  