{% extends "registration/base.html" %}
{% load static %}
{% block content %}

    {% if user.is_authenticated %}
    <h1> Hey there, {{ user.username }}. </h1>
    <!-- <p><a href="{% url 'logout' %}">logout</a></p> -->
    {% else %}
    <h1> You're not logged in. </h1>
    <!-- <p><a href="{% url 'login' %}">login</a></p> -->
    {% endif %}

{% endblock content %}