body{
    background: url(jake.jpg) fixed center no-repeat;
  background-size: cover;
}
.input-section{
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 30rem;
}

.input-form{
    border-radius: 25%;
}
