{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="card text-center border-secondary mb-3 mt-5 my-2 mx-2">
        <div class="card-header">
        We need your approval!
        </div>
        <div class="card-body">
          <h3 class="card-title">Are You Sure?</h3>
          <p class="card-text">
            <form action="/approval/" method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{name}}">
            <input type="hidden" name="status" value="{{status}}">
            <input type="hidden" name="confirm" value="yes">

            <div class="form-group">
                <h4 class="form-confirmation-header">
                    Name
                </h4>
                <div class="form-confirmation-text">
                    {{name}}
                </div>
            </div>
            <div class="form-group">
                <h4 class="form-confirmation-header">
                    Status
                </h4>
                <div class="form-confirmation-text">
                    {{status}}
                </div>
            </div></p>
            <div class="form-button-group mx-2">
                    <button type="button" href="/" class="btn btn-secondary btn-sm">Discard</button>
                    <button type="submit" name = "post" class="btn btn-primary btn-sm">Post</button>
            </div>
        </div>
      </div>
</div>

{% endblock content %}