{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="col-6">
                    <div class="card text-white bg-dark mb-3 mt-5 sticky-top">
                            <div class="card-body ">
                              <h3 class="card-title">What's on your mind?</h3>
                              <form method="POST">
                                  {% csrf_token %}
                              <p class="card-text">{{form.as_p}}</p>
                              <div class="nameforms">
                                  
                              </div>
                              <button name="post" type="submit" class="btn btn-light">Save</button>
                              <p class="card-text"><small class="text-muted">Be wise with your words.</small></p>
                            </div>
                          </div> 
                          <div class="dropdown" style="position: fixed;">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Stories
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="accordion/">Story 8</a>
                                <a class="dropdown-item" href="books/">Story 9</a>
                                <a class="dropdown-item" href="accounts/login/">Story 10</a>
                              </div>
                            </div>
                          
            </div>
            <div class="col-6">
                    {% for stat in status %}
                    <div class="card border-light mb-3 mt-5 my-2 mx-2" style="max-width: 30rem;">
                            <div class="status">
                                    <div class="card-header">{{stat.date}}</div>
                                    <div class="card-body text-secondary">
                                      <h5 class="card-title">{{stat.name}}</h5>
                                      <p class="card-text">{{stat.status}}</p>
                                    </div>
                            </div>
                          </div>
                          {% endfor %}
            </div>
          </div>
      </div>
{% endblock content %}